body {
    background-color: bisque;
}

.container1 {
    display: flex;
    justify-content: center;
}

.elevFile {
    display: flex;
    justify-content: center;
}

.fileBtn {
    padding: 10px;
}

.container2 {
    display: flex; 
    justify-content: center;
    flex-direction: column;
}

img {
    width: 200px;
    padding: 10px;
    height: auto;
    border-radius: 5px;
}

p {
    list-style-type: none;
}